$base--2-color: #ccd5ae;
$base--1-color: #e9edc9;
$base-color: #fefae0;
$base-1-color: #faedcd;
$base-2-color: #d4a373;
$black: #000000;
$white: #ffffff;

@function getShadow($base) {
    $shadow: rgba($base, 0.88);
    @return $shadow;
}

@function convertTOBG($base) {
    $BG: rgba($base, 0.7);
    @return $BG;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: $base-color;
}

#math_s{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    height: 80vh;
    width: 70vw;
    margin-left: 15vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px getShadow($black);
    background-color: convertTOBG($base-1-color);
}

#math_cont{
    display: flex;
    flex-direction: row;
    .cont{
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px getShadow($black);
        width: 20vw;
        height: fit-content;
        background-color: convertTOBG($base-2-color);
        padding: 2vh;
    }

    #calculator_cont{
        margin-right: 5vw;
        #calculator{
            h1{
                text-align: center;
                color: $black;
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2vh;
                border: 1px solid getShadow($black);
                border-radius: 5px;
                box-shadow: 0 0 5px 1px getShadow($black);
                background-color: convertTOBG($base-color);
                padding: 2vh;
                font-size: larger;

                input{
                    border: none;
                    background-color: $base--2-color;
                    padding: 1vh;
                    margin-bottom: 2vh;
                    border-bottom: 1px dashed getShadow($black);
                }

                select{
                    border: none;
                    background-color: $base--2-color;
                    padding: 1vh;
                }

                #sbutt{
                    border: none;
                    background-color: $base--2-color;
                    border: 1px solid getShadow($black);
                    margin-top: 1vh;
                    border-radius: 5px;
                }
            }
        }
    }

    #history_cont{
        margin-left: 5vw;

        h1{
            text-align: center;
            color: $black;
        }

        #history{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2vh;
            border: 1px solid getShadow($black);
            border-radius: 5px;
            box-shadow: 0 0 5px 1px getShadow($black);

            div:nth-child(even){
                background-color: convertTOBG($base--1-color);
            }
            div:nth-child(odd){
                background-color: convertTOBG($base--2-color);
            }

            div{
                width: 100%;
                padding: auto;
                text-align: center;
            }
        }
    }
}
