$base--2-color: #ccd5ae;
$base--1-color: #e9edc9;
$base-color: #fefae0;
$base-1-color: #faedcd;
$base-2-color: #d4a373;
$black: #000000;
$white: #ffffff;

@function getShadow($base) {
    $shadow: rgba($base, 0.88);
    @return $shadow;
}

@function convertTOBG($base) {
    $BG: rgba($base, 0.7);
    @return $BG;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: $base-color;
}

#math_s{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    height: 80vh;
    width: 70vw;
    margin-left: 15vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px getShadow($black);
    background-color: convertTOBG($base-1-color);
}

#math_cont{
    display: flex;
    flex-direction: row;
    .cont{
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px 5px getShadow($black);
        width: 20vw;
        height: fit-content;
        background-color: convertTOBG($base-2-color);
        padding: 2vh;
    }

    #calculator_cont{
        margin-right: 5vw;
    }
    #history_cont{
        margin-left: 5vw;

        #history{
            display: flex;
            flex-direction: row;
            align-items: center;


            div:nth-child(even){
                background-color: convertTOBG($base--1-color);
            }
            div:nth-child(odd){
                background-color: convertTOBG($base--2-color);
            }

            div{
                width: fit-content;
                text-align: center;
            }
        }
    }
}
