$h-font-color: #ccd5ae;
$font-color: #e9edc9;
$base-color: #fefae0;
$item-color: #faedcd;
$H-item-color: #d4a373;

@function getShadow($base) {
    $shadow: rgba($base, 0.88);
    @return $shadow;
}

@function convertTOBG($base) {
    $BG: rgba($base, 0.7);
    @return $BG;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: $base-color;
}

#math_s{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    height: 80vh;
    width: 70vw;
    margin-left: 15vw;
    border-radius: 10px;
    box-shadow: 0 0 10px getShadow($item-color);
    background-color: convertTOBG($item-color);


    .cont{
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px getShadow($H-item-color);
        width: 20vw;
        height: fit-content;
        background-color: convertTOBG($H-item-color);
    }

    #calculator_cont{
        margin-left: 5vh;
    }
    #history_cont{
        margin-right: 5vh;

        #history{
                div:nth-child(even){
                    background-color: $base-color;
            }
        }
    }
}
